@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box ;
}
body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
h1{
	padding-bottom: 20px;
}
#contenedor {
	display: flex ;
	flex-direction:column ;
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #ccc310;
	
	color:#000;
	padding-left:30px ;
	
}
ul {
	list-style-type:none;
}
ul  li{
	padding :10px
}
a {
	color:#030302;
	text-decoration: none;
	padding:10px;
}
section {
	background: #F1F2C0;
	float: left;                                             
	padding: 30px 0px 30px 10px;
	border-bottom  :1px solid black;
	border-top :1px solid black;
	color:#000;
}
section  h2{
	margin-bottom:15px;
}
	
aside {
	background: #CCC59E;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	
}
h2{
	padding-bottom: 10px;
}
